$primary-background-color: #f1f3f6;

$primary-color: #ff5252;
$primary-focus-color: #02b6ff;

$text-dark-color: #111111;
$text-light-color: #fefefe;

$navbar-width: 15%;
$navbar-min-width: 16em;
$navbar-color: #111111;

$header-background-color: #ffffff;
